<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Home</title>
</head>

<body>

    <center>

        <h1 style="margin-top: 100px;">Serving using Docker on Terraform</h1>

        <div style="padding-top: 50px;"><a href="{% url 'get_all_rockets' %}">All Rocket Details</a></div>

    </center>
</body>

</html>